.widget {
  font-size: 13px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  padding: 6px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
